/* aside */

.aside {
    &-h2 {
        margin-bottom: 30px;
        font-family: var(--font-book), var(--font-standart);
        font-size: 24px;
        line-height: normal;
        font-weight: 500;
        color: var(--dark-22);
    }

    &-list {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        margin-bottom: 40px;

        @media (max-width: 1024px) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            column-gap: 20px;
        }

        @media (max-width: 600px) {
            display: flex;
            flex-direction: column;
        }

        &__h3 {
            margin-bottom: 10px;
            font-family: var(--font-book), var(--font-standart);
            font-size: 18px;
            line-height: normal;
            font-weight: 400;
            color: var(--dark-22);
            transition: color ease-in-out .5s;

            @media (max-width: 1024px) {
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            &:hover,
            &:focus,
            &:active {
                color: var(--blue-dd);
            }
        }

        &__date {
            font-family: var(--font-book), var(--font-standart);
            font-size: 18px;
            line-height: normal;
            font-weight: 400;
            color: var(--text-grey-4);
        }
    }
}

/* form */

.aside {
    &-mailing {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        row-gap: 21px;
        padding: 40px 30px 50px 30px;
        border-radius: 20px;
        background-color: var(--white);

        @media (max-width: 1024px) {
            display: grid;
            grid-template-areas:
                "label label"
                "input button";
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
            margin-bottom: 40px;
        }

        @media (max-width: 600px) {
            display: flex;
            flex-direction: column;
        }

        &__label {
            margin-bottom: 9px;
            font-family: var(--font-medium), var(--font-standart);
            font-size: 24px;
            line-height: normal;
            font-weight: 500;
            color: var(--dark-22);

            @media (max-width: 1024px) {
                grid-area: label;
            }
        }

        &__input {
            position: relative;
            max-width: 100%;
            padding: 13px 0 13px 30px;
            font-family: var(--font-book), var(--font-standart);
            font-size: 18px;
            line-height: normal;
            font-weight: 400;
            color: var(--text-grey-4);
            border-radius: 20px;
            background-color: var(--grey-f5);
            transition: background-color ease-in-out .5s, border ease-in-out .5s;

            @media (max-width: 1024px) {
                grid-area: input;
            }

            &::after {
                @include after;
            }

            &:focus {
                color: var(--dark-22);

                &::after {
                    border: 1.50px solid #2f2222;
                }
            }

            &:hover {
                background-color: var(--grey-f9);
            }
        }

        &__button {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 13px 0 13px 0;
            font-family: var(--font-book), var(--font-standart);
            font-size: 18px;
            line-height: normal;
            font-weight: 400;
            color: var(--white);
            border-radius: 20px;
            background-color: var(--blue-dd);
            transition: background-color ease-in-out .5s, border ease-in-out .5s;

            @media (max-width: 1024px) {
                grid-area: button;
            }

            &::after {
                @include after;
            }

            &:hover {
                background-color: var(--blue-d8);
            }

            &:focus {
                background-color: var(--blue-d8);

                &::after {
                    border: 1.50px solid #2f2222;
                }
            }

            &-svg {
                width: 20px;
                height: 19px;
                margin-left: 10px;
            }
        }
    }
}