@font-face {
    font-family: 'Futura PT Book';
    src: url('../fonts/FuturaPT-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT Medium';
    src: url('../fonts/FuturaPT-Medium.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT Heavy';
    src: url('../fonts/FuturaPT-Heavy.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}